@model IEnumerable<ASE_Election_Portal_G20.Models.Admin>
@{
    ViewData["Title"] = "Admin Users";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<div style="display: flex; margin-bottom: 30px">
    <h2 class="col-md-6">Admin Users</h2>
</div>
<div style="display:flex; justify-content:center">
    <table class="table table-hover" style="width:80%;text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminName)
            </th>
            <th>
                User Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.AdminId">
                            @Html.DisplayFor(modelItem => item.AdminName)
                        </a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
