@model ASE_Election_Portal_G20.Models.Voter

@{
    ViewData["Title"] = "Edit Voter Details";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<div>
    <a asp-action="Index">Back to List</a>
    <h2 style="text-align: center">Edit Voter Details</h2>
</div>
<hr />
<div class="row">
    <div class="center-align">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VoterId" />
            <input type="hidden" asp-for="UserId" />
           
            <div class="form-group d-flex">
                <label asp-for="FirstName" class="col-md-5 control-label required"> First Name</label>
                <div>
                    <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-flex">
                <label asp-for="LastName" class="col-md-5 control-label required"></label>
            <div>
                    <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group d-flex">
                <label asp-for="Dob" class="col-md-5 control-label required"></label>
            <div>
                    <input asp-for="Dob" class="form-control" type="date" required />
                <span asp-validation-for="Dob" class="text-danger"></span>
    </div>
            </div>
            <div class="form-group d-flex">
                <label asp-for="State" class="col-md-5 control-label required"></label>
                <select id="State" asp-for="State" class="form-control" asp-items="ViewBag.State" required><option value=""> - Select State - </option></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group d-flex">
                <label asp-for="County" class="col-md-5 control-label required"></label>
                <select id="County" asp-for="County" class="form-control" asp-items="ViewBag.County" required><option value=""> - Select County - </option></select>
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group d-flex">
                <label asp-for="Address" class="col-md-5 control-label required"></label>
            <div>
                    <input asp-for="Address" class="form-control" required />
                <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-flex">
                <label asp-for="Email" class="col-md-5 control-label required"></label>
            <div>
                    <input asp-for="Email" type="email" typeclass="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="invalid-feedback">Please enter a valid email address.</div>

                </div>
            </div>
            <div class="form-group d-flex">
                <label asp-for="ContactNumber" class="col-md-5 control-label required"></label>
            <div>
                    <input asp-for="ContactNumber" class="form-control" pattern="\d{10}" required placeholder="(123) 456-7890" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    <div class="invalid-feedback">Please enter a 10-digit contact number.</div>
                </div>
            </div>
            <input type="hidden" asp-for="IsDeleted" />
            <div style="text-align: center;margin-top:20px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#State").change(function () {
                var selectedStateId = $(this).val();
                if (selectedStateId) {
                    $.getJSON("/Data/GetCountiesByState", { stateId: selectedStateId })
                        .done(function (data) {
                            $("#County").empty();

                            $("#County").append('<option value=""> - Select County - </option>');

                            $.each(data, function (index, County) {
                                console.log(data);

                                $("#County").append('<option value="' + County.countyId + '">' + County.countyName + '</option>');
                            });
                        })
                        .fail(function () {
                            console.log("Error fetching counties.");
                        });
                } else {
                    $("#County").empty();
                    $("#County").append('<option value=""> - Select County - </option>');
                }
            });
           
        });

    </script>
}